.caja-negra{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 200;
    height: 200;
}

.caja-negra img{
    width: 180;
    height: 180;
}